<!-- <main class="main-content " >
    <div class="mx-auto max-w-md text-center">
        <h2 class="dancing-script">Embrace the Legacy: Legends of Vintage Football</h2>
      </div>
    
    <img src="assets/Cristiano Ronaldo2.png" alt="Your Image" class="w-full max-h-[100vh]" >
    
        <button class="absolute top-[75%] left-[44%] bg-yellow-600 hover:bg-yellow-600 text-black font-bold py-2 px-4 rounded">
            DISCOVER ALL ITEMS
        </button>
    
</main>

 -->

 <!-- <main class="main-content relative flex flex-col items-center justify-center">
    <div class="mx-auto max-w-md text-center absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-10">
        <h2 class="dancing-script text-5xl lg:text-7xl  text-white">Embrace the Legacy: Legends of Vintage Football</h2>
        <button class="bg-yellow-600 hover:bg-yellow-600 text-black font-bold py-2 px-4 rounded">
            DISCOVER ALL ITEMS
        </button>
    </div>
    
    <img src="assets/Cristiano Ronaldo2.png" alt="Your Image" class="w-full max-h-[100vh]" >
</main>  -->


<div class="flex flex-wrap h-[100vh] mb-20">
    <div class="w-full sm:w-6/12 mb-10">
      <div class="container mx-auto h-full sm:p-10 mt-20">
        <nav class="flex px-4 justify-between items-center">
            <div class="text-4xl font-bold">
        
          </div>
          <div>
            <img src="https://image.flaticon.com/icons/svg/497/497348.svg" alt="" class="w-8">
          </div>
        </nav>
        <header class="container px-4 lg:flex mt-10 items-center h-full lg:mt-0">
          <div class="w-full">
            <h1 class="text-4xl lg:text-6xl font-bold">Embrace the Legacy <span class="text-blue-600">Legends </span> of Vintage Football</h1>
            <div class="w-20 h-2 bg-blue-800 my-4"></div>
            <p class="text-xl mb-10">Embark on a journey through football's illustrious history with Legends Live On
                <br>
                Discover authentic vintage football classics that celebrate the timeless essence of the beautiful game..</p>
            <button class="bg-blue-700 text-white text-2xl font-medium px-4 py-2 rounded shadow">Discover All Items</button>
          </div>
        </header>
      </div>
    </div>
    <img src="assets/legends.jpg" alt="Leafs" class="absolute left-[55%] h-[100vh] -z-10 w-[45%]">  
  </div>
  <app-product-list [products]="products"></app-product-list>
  
  <div class="relative">

  <swiper-container class="mt-20" navigation="true" pagination="true" 
  pagination-clickable="true" autoplay-delay="2000 ">
    <swiper-slide class="h-[80vh] relative">
        <div class="relative w-full h-[95vh]">
            <img class="absolute inset-0 w-full h-full bg-cover" src="assets/maradona19.webp" alt="">
        </div>
        <div class="absolute inset-0 bg-gray-500 opacity-50"></div>
        <div class="absolute top-0 left-0 m-4 z-10 text-white text-center">
            <h2 class="text-3xl font-bold mb-4 border-2 border-white text-black bg-white px-4 py-2">INTERNATIONAL</h2>
        </div>
    </swiper-slide>
  
    <swiper-slide class="h-[80vh] relative">
      <div class="relative w-full h-[95vh]">
          <img class="absolute inset-0 w-full h-full bg-cover" src="assets/calcio.png" alt="">
      </div>
      <div class="absolute inset-0 bg-gray-500 opacity-50"></div>
      <div class="absolute top-0 left-0 m-4 z-10 text-white text-center">
          <h2 class="text-3xl font-bold mb-4 border-2 border-white text-black bg-white px-4 py-2">CALCIO</h2>
      </div>
  </swiper-slide>
  <swiper-slide class="h-[80vh] relative">
    <div class="relative w-full h-[95vh]">
        <img class="absolute inset-0 w-full h-full bg-cover" src="assets/Raul.jpg" alt="">
    </div>
    <div class="absolute inset-0 bg-gray-500 opacity-50"></div>
    <div class="absolute top-0 left-0 m-4 z-10 text-white text-center">
        <h2 class="text-3xl font-bold mb-4 border-2 border-white text-black bg-white px-4 py-2">LA LIGA</h2>
    </div>
</swiper-slide>
<swiper-slide class="h-[80vh] relative">
  <div class="relative w-full h-[95vh]">
      <img class="absolute inset-0 w-full h-full bg-cover" src="assets/oliver-kahn.webp" alt="">
  </div>
  <div class="absolute inset-0 bg-gray-500 opacity-50"></div>
  <div class="absolute top-0 left-0 m-4 z-10 text-white text-center">
      <h2 class="text-3xl font-bold mb-4 border-2 border-white text-black bg-white px-4 py-2">BUNDESLIGA</h2>
  </div>
</swiper-slide>

<swiper-slide class="h-[80vh] relative">
  <div class="relative w-full h-[95vh]">
      <img class="absolute inset-0 w-full h-full object-cover" src="assets/ronaldo....webp" alt="">
  </div>
  <div class="absolute inset-0 bg-gray-500 opacity-50"></div>
  <div class="absolute top-0 left-0 m-4 z-10 text-white text-center">
      <h2 class="text-3xl font-bold mb-4 border-2 border-white text-black bg-white px-4 py-2">PREMIERE LIGUE</h2>
  </div>
</swiper-slide>


<swiper-slide class="h-[80vh] relative">
  <div class="relative w-full h-[95vh]">
      <img class="absolute inset-0 w-full h-full bg-cover" src="assets/ligue 1.jpg" alt="">
  </div>
  <div class="absolute inset-0 bg-gray-500 opacity-50"></div>
  <div class="absolute top-0 left-0 m-4 z-10 text-white text-center">
      <h2 class="text-3xl font-bold mb-4 border-2 border-white text-black bg-white px-4 py-2">LIGUE 1</h2>
  </div>
</swiper-slide>
  </swiper-container>

  <div class="flex justify-center items-center h-screen dark:bg-gray-800">
    <section class="w-full max-w-5xl mx-auto rounded-xl py-14 lg:py-20 px-5 lg:px-0">
      <div
        class="rounded-2xl p-5 py-14 bg-[#DEF6F5] dark:bg-gray-700 mx-auto flex flex-col gap-y-5 justify-center items-center">
        <h3
          class="text-3xl md:text-4xl lg:text-5xl max-w-xl lg:max-w-3xl mx-auto font-bold text-black dark:text-white text-center">
          Discover the legacy of football's greatest icons.</h3>
        <p class="text-base md:text-lg lg:text-xl text-center text-gray-800 dark:text-gray-300">Dive into the captivating world of football heritage with our legendary jerseys collection, each piece a tribute to the timeless glory of the game.</p>
        <button class="bg-[#1EBFC1] dark:bg-[#0E6B6D] w-1/2 md:w-1/3 hover:shadow-lg border border-transparent hover:drop-shadow transition duration-200 lg:w-1/3 text-white font-semibold text-sm lg:text-base rounded px-4 py-2">Get Started</button>
      </div>
    </section>
  </div>

  <div class="relative">
    <img src="assets/brazil.jpg" alt="Football Legends" class="w-full h-auto">
    <div class="absolute inset-0 flex items-center justify-center align-center flex-col bg-gray-600 bg-opacity-75 p-8 rounded-lg text-white">
        <h2 class="text-3xl font-bold mb-4 text-center">Experience Football Greatness with Legendary Jerseys! ⚽️✨</h2>
        <p class="text-lg text-center">Step into the history books of football with our iconic collection of vintage shirts. From the legendary pitches of Maracanã to the electric atmosphere of Camp Nou, our jerseys carry the spirit of football's greatest names like Pelé, Maradona, and Zidane.</p>
        <p class="text-lg mt-4 text-center">Relive the magic of the beautiful game and feel the adrenaline rush as you wear the same jersey worn by your football heroes. Elevate your style, fuel your passion, and make a statement that transcends time.</p>
        <p class="text-lg mt-4 text-center">Own a piece of football history and write your own chapter in the annals of the sport. Choose your legend, wear it with pride, and let the world know that football greatness lives on!</p>
    </div>
</div>


  
   