<header style="background-color: rgba(25, 131, 253, 0.75);" class="sticky z-20 top-0 left-0 w-full  border-gray-200  ">
  <div class="flex gap-5 items-center">

    <button *ngIf="!isMenuOpen" (click)="isMenuOpen = !isMenuOpen" class="flex flex-col md:hidden"
      style="margin-left: 10px;">
      <img src="./assets/icon-menu.svg" alt="icon menu">
    </button>
    <!-- mobile -->
    <div *ngIf="isMenuOpen" class="fixed inset-0 bg-Black-bg z-30 w-screen h-screen"
      style="background-color: lightskyblue">
      <div class="bg-White z-50 relative w-full max-w-xs h-screen p-6">
        <button (click)="isMenuOpen = !isMenuOpen" class="flex flex-col md:hidden">
          <img src="./assets/icon-close.svg" alt="icon menu clos">
        </button>
        <nav class="text-xl font-bold mt-16">
          <ul class="flex flex-col gap-6">
            <li><a href="#">Collections</a></li>
            <li><a href="#">Men</a></li>
            <li><a href="#">Women</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="min-w-[70%] flex flex-wrap items-center justify-between max-w-screen-2xl px-4 mx-auto "
      style="margin-left: -30px;">
      <a routerLink="home" class="flex items-center">
        <img src="assets/logo2.png" style="height: 75px; width: 75px;" class="h-6 mr-3 sm:h-9" alt="mano">
        <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white text-black">LEGENDS</span>
      </a>


      <div class="flex items-center justify-center lg:order-2 absolute top-0 right-0 mt-3">
        <div class="hidden mt-2 mr-4 sm:inline-block">
        </div>



        <div class="input-wrapper">
          <button class="icon">
            <img src="assets/search.svg" class="h-4 mr-3 sm:h-6" alt="search">
          </button>
          <input type="text" name="text" class="input" placeholder="search.." />
        </div>



        <button class="text-gray-500 hover:text-white mr-4 focus:outline-none">
          <a routerLink="/login">
          <img src="assets/user-solid.svg" class="h-4 mr-3 sm:h-6" alt="user">
        </a>

        </button>

        <button class="text-gray-500 hover:text-white focus:outline-none relative">
          <a routerLink="/shopping-cart">
            <span
              class="absolute w-5 h-5 rounded-full bg-white right-0 -top-2 text-center text-sm text-black font-bold">
              {{ productCount }}
            </span>
            <img src="assets/cart-shopping-solid.svg" class="h-4 mr-3 sm:h-6" alt="sc">
          </a>
        </button>

      </div>

      <div class="hidden mx-auto lg:flex lg:w-auto items-center justify-between" id="">

        <ul *ngIf="MenuOpen" class=" sm:flex text-center md:items-center md:flex lg:flex  lg:flex-row lg:space-x-8 
                             transition-all ease-in duration-500" style="margin-right: -200px;">

          <li>

            <a routerLink="home" style="color: black; font-weight: bold;"
              class="block py-2 pl-3 pr-4 text-black border-b border-gray-100 hover:underline lg:hover:bg-transparent lg:border-0 lg:hover:text-black lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700"
              aria-current="page">HOME</a>
          </li>

          <button (mouseenter)="toggleDropdown1()" id="multiLevelDropdownButton"
            style="color: black; font-weight: bold;"
            class="block py-2 pl-3 pr-4 text-black border-b border-gray-100 hover:underline lg:hover:bg-transparent lg:border-0 lg:hover:text-black lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700"
            type="button">
            CLUBS

          </button>



          <div (mouseleave)="toggleDropdown1()" id="multi-dropdown" *ngIf="isClubsDropdownOpen"
            class="z-10 absolute top-16 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
            <ul class="py-2 text-sm text-gray-700 dark:text-xgray-200" aria-labelledby="multiLevelDropdownButton">
              <li *ngFor="let league of leagues" class="relative" (mouseenter)="toggleDropdown(league.key)"
                (mouseleave)="hideDropdown(league.key)">
                <a [routerLink]="league.key"
                  class="flex items-center justify-between w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                  {{ league.name }}
                  <svg class="w-2.5 h-2.5 ms-3 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="m1 9 4-4-4-4" />
                  </svg>
                </a>
                <div *ngIf="isDropdownOpen[league.key]" style="position: absolute; left: 180px; top: 5px;"
                  class="z-10 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                  <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="doubleDropdownButton">
                    <li *ngFor="let team of league.teams">
                      <a [routerLink]=""
                        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                        {{ team }}</a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
          <!-- International Dropdown Container -->
          <div class="relative inline-block text-left" (mouseenter)="toggleDropdown2()"
            (mouseleave)="toggleDropdown2()">
            <div>
              <button href="#" style="color: black; font-weight: bold;"
                class="block py-2 pl-3 pr-4 text-black border-b border-gray-100 hover:underline lg:hover:bg-transparent lg:border-0 lg:hover:text-black lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700">
                INTERNATIONAL
              </button>
            </div>
            <!-- International Dropdown Menu -->
            <div *ngIf="dropdown2"
              class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
              role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
              <div class="py-1" role="none">
                <a *ngFor="let team of countries" href="#"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem"
                  tabindex="-1">{{ team }}</a>
              </div>
            </div>
          </div>
          <li>
            <a href="#" style="color: black; font-weight: bold;"
              class="block py-2 pl-3 pr-4 text-white border-b border-gray-100 hover:underline lg:hover:bg-transparent lg:border-0 lg:hover:text-white lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700">
              THE LEGENDS
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>